<% include partials/header %>

<div class="jumbotron">
    <h1 class="display-4" id="asd-landing-header">PROJECT MOON</h1>
    <p class="lead">Understanding how machine read humans.</p>
    <hr class="my-4">
    <a class="btn btn-outline-dark" href="/face" role="button">Learn more</a>
</div>
<% include partials/footer %>